
{% extends 'base.html' %}
{% load static %}
{% block title %}QUIZ-add{% endblock title %}

{% block content %}

    <div class="quiz_add_container">
        {% if form %}
            <div id="form_question">
                <div class="questions_added bl">
                    {% for question, answers in quiestionsAndAnswers.pairs %}

                    <div class="question_block">
                        <div class="btn_redact_container">
                            <a class="btn_redact" href="{% url 'redact_question' question.pk %}">Изменить</a>
                            <a class="btn_delete" href="{% url 'delete_question' question.pk %}">Удалить</a>
                        </div>
                        <div class="question">
                            <h5>Вопрос:</h5>
                            <p class="added_question">{{ question.question }}</p>
                            <h5>Картинка:</h5>
                            <div class="img_block">
                                <img src="/{{ question.image }}" width="260">
                            </div>
                        </div>
                        <h5>ответы:</h5>
                        <div class="answers">
                            {% for answer in answers %}
                                {% if answer.correct %}
                                    <p class="correct">{{answer.answer}}</p>
                                {% else %}
                                    <p>{{answer.answer}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="questions bl">

                    <form class="question" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="question1">напишите здесь вопрос</label>
                        <input type="text" id="question1" name="question">
                        {{req}}
                        <div class="image">
                            <label for="SwitchImageQuestion">Выберите картинку для вопроса</label>
                            <span id="SelectedImageQuestion" alt="выбранная картинка" width="600"></span>
                            <input type="file" id="SwitchImageQuestion" name="image">
                            <!--<input type="file" id="question_image1" name="image">-->
                        </div>
                        <select name="quiz" hidden>
                            <option value="{{ quiz_pk }}">{{ quiz_pk }}</option>
                        </select>
                        <div class="btn_add_answers_boX">
                            <button type="submit" class="btn_add_answers">Создать ответы</button>
                        </div>



                        <!--<input hidden value="{{ quiz_pk }}" name="quiz">-->


                        {% for errors in errors %}
                        {{ errors }}<br>
                        {% endfor %}

                    </form>
                    {% for question in questions %}
                        {{question}}
                    {% endfor %}
<!--                <div class="button_save">-->
<!--                    <button id="btn_save" class="btn_save">Сохранить</button>-->
<!--                </div>-->
                </div>
            </div>


            
        {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="category bl">
                <h2>Выберите категорию</h2>
                <input list="category" name="category">
                <datalist id="category">
                    {% for category in category %}
                        <option value="{{category}}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="image bl">
                <h2>Выберите картинку</h2>
                <span id="SelectedImageScreensaver" alt="выбранная картинка" width="600"></span>
                <input id="SwitchImageScreensaver" type="file" name="imageScreensaver">
            </div>
            <div class="name bl">
                <h2>Введите название</h2>
                <input type="text" name="title">
            </div>
            <div class="description bl">
                <h2>Введите описание</h2>
                <input type="" name="description">
            </div>
            <div class="button_add">
                <button type="submit" class="btn_add">Создать</button>
                <!--<a href="{% url 'add_quiz' %}" class="btn_add">Создать</a>-->
            </div>
        </form>
        {{errors}}
        {% endif %}


        {% if add_answer %}
            <div class="answers">
                <div class="answer_add" id="answer_add_box">
                    <label for="answer1">Напишите ответ 1</label>
                    <label for="correct_answer_1" class="is_correct">ответ правильный?</label>
                    <input type="checkbox" id="correct_answer_1" name='correct'>
                    <input id="answer1" type="text" name='title'>
                    
                    <label for="answer2">Напишите ответ 2</label>
                    <label for="correct_answer_2" class="is_correct">ответ правильный?</label>
                    <input type="checkbox" id="correct_answer_2">
                    <input id="answer2" type="text">
                </div>
                <button id="btn_add_answer" class="button">Добавить ответ</button>
            </div>
        {% endif %}

    </div>



{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/add_quiz.js' %}"></script>
{% endblock script %}