
{% extends 'base.html' %}
{% load static %}
{% block title %}QUIZ-add{% endblock title %}

{% block content %}

    <div class="quiz_add_container">
        {% if form %}
            <div id="form_question">
                <div class="questions bl">

                    <form class="question" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="question1">напишите здесь вопрос</label>
                        <input type="text" id="question1" name="question">
                        {{req}}
                        <div class="image">
                            <label for="question_image1">Выберите картинку для вопроса</label>
                            <img src="" alt="">
                            {{ form.image }}
                            <!--<input type="file" id="question_image1" name="image">-->
                        </div>
                        <select name="quiz" hidden>
                            <option value="{{ quiz_pk }}">{{ quiz_pk }}</option>
                        </select>
                        <div class="btn_add_answers_boX">
                            <button type="submit" class="btn_add_answers">Создать ответы</button>
                        </div>



                        <!--<input hidden value="{{ quiz_pk }}" name="quiz">-->


                        {% for errors in errors %}
                        {{ errors }}<br>
                        {% endfor %}

                    </form>
                    <button id="btn_add_question" class="button">Добавить вопрос</button>
                <div class="button_save">
                    <button id="btn_save" class="btn_save">Сохранить</button>
                </div>
                </div>
            </div>


            
        {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="category bl">
                <h2>Выберите категорию</h2>
                <input list="category" name="category">
                <datalist id="category">
                    <option value="Anime">
                    <option value="Films">
                </datalist>
            </div>
            <div class="image bl">
                <h2>Выберите картинку</h2>
                <img src="img/tests_images/47899679c157cb3b7fb73e2134086efb.jpg" alt="">
                <input type="file" name="imageScreensaver">
            </div>
            <div class="name bl">
                <h2>Введите название</h2>
                <input type="text" name="title">
            </div>
            <div class="button_add">
                <button type="submit" class="btn_add">Создать</button>
                <!--<a href="{% url 'add_quiz' %}" class="btn_add">Создать</a>-->
            </div>
        </form>

        {% endif %}


        {% if add_answer %}
            <div class="answers">
                <div class="answer_add" id="answer_add_box">
                    <label for="answer1">Напишите ответ 1</label>
                    <label for="correct_answer_1" class="is_correct">ответ правильный?</label>
                    <input type="checkbox" id="correct_answer_1" name='correct'>
                    <input id="answer1" type="text" name='title'>
                    
                    <label for="answer2">Напишите ответ 2</label>
                    <label for="correct_answer_2" class="is_correct">ответ правильный?</label>
                    <input type="checkbox" id="correct_answer_2">
                    <input id="answer2" type="text">
                </div>
                <button id="btn_add_answer" class="button">Добавить ответ</button>
            </div>
        {% endif %}

    </div>



{% endblock content %}