<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_quiz.css' %}">
</head>
<body>
    <header>
        <div class="container_head">
            <a href="#" class="logo"><h1>AniQUIZ</h1></a>

            <div class="menu_items">
                <ul>
                    <li><a href="#" class="active">Главная</a></li>
                    <li><a href="#">Викторины</a></li>
                    <li><a href="#">Результаты</a></li>
                    <li><a href="{% url 'add_quiz' %}">Предложить викторину</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>

            <div class="right_menu">
                <a href="#" class="login"><img src="img/icons-user-24.png" alt="иконка пользователя" width="24" height="24"><span>ВХОД</span></a>
            </div>
        </div>
    </header>

    <div class="main_container">
      {% block content %}
      {% endblock content %}
    </div>


    <footer>
        <div class="footer_container">
            <div class="info_container">
                <a href="#" class="logo"><h1>AniQUIZ</h1></a>

                <p class="footer_company">
                    сайт AniQUIZ был создан как курсовой проект с целью показать свои знания и возможностью его занести в портфолио. AniQUIZ это сайт с виктаринами по тематике аниме и манга
                </p>
                <div class="footer_block">
                    <div class="help">
                        <span>По всем вопросам:</span>
                        <a href="#">AniQUIZ_Help@gmail.com</a>
                        <a href="#">Ilya_Helper@gmail.com</a>
                    </div>
                    <div class="sotset">
                        <span>Мы в сотсетях:</span>
                        <ul>
                            <li>
                                <a href="#"><img src="{% static 'img/interactive_icons/free-icon-vk-24.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'img/interactive_icons/telegram-24.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'img/interactive_icons/youtube.png' %}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'img/interactive_icons/instagram-24.png' %}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="info">
                <h2>Информация</h2>
                <ul>
                    <li><a href="#">Рекламные возможности</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Политика конфиденсальности</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="js/quiz.js"></script>
</body>
</html>