{% extends 'base.html' %}

{% block title %}AniQUIZ-Home{% endblock title %}
{% block content %}
{% load static %}



    <div class="popular_tests">
        <div class="popular_header">
            <div class="first_block">
                <a href="#"><h1>Топ 10 популярных тестов</h1></a>
                <p>Тесты набравшие наибольшее количество лайков</p>
            </div>
            <div class="second_block">
                <a href="{% url 'quiz_all' %}">Все тесты</a>
            </div>
        </div>
        <div class="popular_container">
            <div class="cards">
                {% for i, result in ModelAndRating.pairs|slice:":10" %}
                    {% for quiz in i %}
                    <div class="card">
                    <a href="{% url 'quiz' quiz.pk %}"><img src="/{{quiz.imageScreensaver}}" alt="" width="382"></a>
                    <div class="block_card_info">
                        <a href="#" class="author">
                            <span class="avatar" style="background: url(/{{quiz.user.icon}}) round;"></span>
                            <p>{{quiz.user}}</p>
                        </a>
                    </div>
                    <h3>
                        <a href="{% url 'quiz' quiz.pk %}">{{quiz.title}}</a>
                    </h3>
                    <p class="discription_card">{{quiz.description}}</p>
                    <div class="info_about_card">
                        <div class="card_rating">
                            <span></span>
                            <div>{{result}}</div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div id="nextSlide">&gt;</div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock script %}