{% extends 'base.html' %}

{% block title %}AniQUIZ-Home{% endblock title %}
{% block content %}
    <div class="popular_tests">
        <div class="popular_header">
            <div class="first_block">
                <a href="#"><h1>Популярные тесты</h1></a>
                <p>Тесты набравшие наибольшее количество лайков</p>
            </div>
            <div class="second_block">
                <a href="#">Все тесты</a>
            </div>
        </div>
        <div class="popular_container">
            <div class="cards">
                <div class="card">
                    <a href="quiz.html"><img src="img/tests_images/47899679c157cb3b7fb73e2134086efb.jpg" alt="" width="382"></a>
                    <div class="block_card_info">
                        <a href="#" class="author">
                            <span class="avatar" wi></span>
                            <p>Mugivara</p>
                        </a>
                    </div>
                    <h3>
                        <a href="#">Мой список самых привлекательных девушек [Mugivara]</a>
                    </h3>
                    <p class="discription_card">Подписавшись на эстафету, теперь я показываю вам своих талантливых девушек из моего личного списка. Величайшие трудяжницы в сферах деятельности, которые очаровали меня своим манящим типажом!</p>
                    <div class="info_about_card">
                        <div class="card_rating">
                            <span></span>
                            <div>9.0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}